<div class="container">
  <h2>CampusConnect Register</h2>

  <form (ngSumit)="register()">
    <label>Name</label>
    <input type="text" [(ngModel)]="name" name="name" required />

    <label>Email</label>
    <input type="email" [(ngModel)]="email" name="email" required />

    <label>Password</label>
    <input type="password" [(ngModel)]="password" name="password" required />

    <button type="submit">Register</button>
  </form>

  <p>{{ message }}</p>

  <p>
    Already have an account?
    <a routerLink="/login">Login here</a>
  </p>
</div>